<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Bard</title>


    <link rel="stylesheet" href="../styles/defaults.css">
    <link rel="stylesheet" href="../styles/post.css">

    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>

<body>
        <script>
            function go_home() {
                window.location.href = "../ "
                console.log("going home.")
            }
        </script>
    
        <nav>
            <div class = "logo-container">
                <h1 class = "logo-text">AI_HUB</h1>
            </div>
    
            <button id = "home_btn" onclick="go_home()">Home</button>
        </nav>
    
        <center>
    
            <div class = "post">
                <h2>History</h2>
    
                <p>
                        In the words of the Oxford English Dictionary, the bards were an "ancient Celtic order of minstrel-poets, whose primary function appears to have been to compose and sing (usually to the harp) verses celebrating the achievements of chiefs and warriors, and who committed to verse historical and traditional facts, religious precepts, laws, genealogies, etc."[1]

                        In medieval Gaelic and Welsh society, a bard (Scottish and Irish Gaelic) or bardd (Welsh) was a professional poet, employed to compose elegies for his lord. If the employer failed to pay the proper amount, the bard would then compose a satire (c.f. fili, fáith). In other Indo-European societies, the same function was fulfilled by skalds, rhapsodes, minstrels and scops, among others. A hereditary caste of professional poets in Proto-Indo-European society has been reconstructed by comparison of the position of poets in medieval Ireland and in ancient India in particular.[6]
                        
                        Bards (who are not the same as the Irish filidh or fili) were those who sang the songs recalling the tribal warriors' deeds of bravery as well as the genealogies and family histories of the ruling strata among Celtic societies. The pre-Christian Celtic people recorded no written histories; however, Celtic peoples did maintain an intricate oral history committed to memory and transmitted by bards and filid. Bards facilitated the memorization of such materials by the use of metre, rhyme and other formulaic poetic devices.
                </p>
    
                <h2>Etymology</h2>
    
                <p>
                        The English term bard is a loan word from the Celtic languages: Gaulish: bardo- ('bard, poet'), Middle Irish: bard and Scottish Gaelic: bàrd ('bard, poet'), Middle Welsh: bardd ('singer, poet'), Middle Breton: barz ('minstrel'), Old Cornish: barth ('jester').[3][4] The ancient Gaulish *bardos is attested as bardus (sing.) in Latin and as bárdoi (plur.) in Ancient Greek. It also appears as a stem in bardo-cucullus ('bard's hood'), bardo-magus ('field of the bard'), barditus (a song to fire soldiers), and in bardala ('crested lark', a singing bird).[3]

                        All of these terms come from the Proto-Celtic noun *bardos ('poet-singer, minstrel'), itself derived, with regular Celtic sound shift *gʷ > *b, from the Proto-Indo-European compound *gʷrH-dʰh₁-o-s, which literally means 'praise-maker'.[3][5][4] It is cognate with Sanskrit: gṛṇā́ti ('calls, praise'), Latin: grātus ('grateful, pleasant, delightful'), Lithuanian: gìrti ('praise'), and Armenian: kardam ('raise voice').
                </p>
            </div>
    
        </center>
    </body>
</html>