<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Nia</title>


    <link rel="stylesheet" href="../styles/defaults.css">
    <link rel="stylesheet" href="../styles/post.css">

    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>

<body>
        <script>
            function go_home() {
                window.location.href = "../ "
                console.log("going home.")
            }
        </script>
    
        <nav>
            <div class = "logo-container">
                <h1 class = "logo-text">AI_HUB</h1>
            </div>
    
            <button id = "home_btn" onclick="go_home()">Home</button>
        </nav>
    
        <center>
    
            <div class = "post">
                <h2>What Does It Do?</h2>
    
                <p>
                        Infosys Nia converges the big data/analytics, machine learning, knowledge management, and cognitive automation capabilities of Mana; end-to-end RPA capabilities of AssistEdge; advanced, high-performance and scalable machine learning capabilities of Skytree; and optical character recognition (OCR), natural language processing (NLP) capabilities and infrastructure management services. As a unified, flexible, and modular platform, Infosys Nia enables a wide set of industry and function-specific solutions and allows customers to build custom experiences to suit their business needs.
                </p>
            </div>
    
        </center>
    </body>
</html>