<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Watson</title>


    <link rel="stylesheet" href="../styles/defaults.css">
    <link rel="stylesheet" href="../styles/post.css">

    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>

<body>
        <script>
            function go_home() {
                window.location.href = "../ "
                console.log("going home.")
            }
        </script>
    
        <nav>
            <div class = "logo-container">
                <h1 class = "logo-text">AI_HUB</h1>
            </div>
    
            <button id = "home_btn" onclick="go_home()">Home</button>
        </nav>
    
        <center>
    
            <div class = "post">
                <h2>What Does It Do?</h2>
    
                <p>
                        IBM Watson is a question-answering computer system capable of answering questions posed in natural language,[1] developed in IBM's DeepQA project by a research team led by principal investigator David Ferrucci.[2] Watson was named after IBM's founder and first CEO, industrialist Thomas J. Watson.

                </p>

                <h2>Description</h2>
                <p>
                        Watson was created as a question answering (QA) computing system that IBM built to apply advanced natural language processing, information retrieval, knowledge representation, automated reasoning, and machine learning technologies to the field of open domain question answering.[1]

                        IBM stated that Watson uses "more than 100 different techniques to analyze natural language, identify sources, find and generate hypotheses, find and score evidence, and merge and rank hypotheses."[10]
                        
                        In recent years, Watson's capabilities have been extended and the way in which Watson works has been changed to take advantage of new deployment models (Watson on IBM Cloud), evolved machine learning capabilities, and optimized hardware available to developers and researchers. It is no longer purely a question answering (QA) computing system designed from Q&A pairs but can now 'see', 'hear', 'read', 'talk', 'taste', 'interpret', 'learn' and 'recommend'
                </p>
            </div>
    
        </center>
    </body>
</html>