body {
    background: url(../media/wps/win11_black.webp);
    background-position-x: center;
}

nav {
    color: white;
    background: rgba(0, 0, 0, 0.616);
    box-shadow: 0 0 10px black;
}

nav > button {
    padding:  7px 10px;
    position: absolute;
    right: 2%;
    border: none;
    outline: none;

    top: 50%;
    transform: translateY(-50%);
}

.post {
    font-family: "Montserrat", monospace;


    width: 60vw;

    border: 1px solid grey;
    border-top: none;
    border-bottom: none;

    border-radius: 0;
}

h2 {
    font-size: 40px;
    padding: 20px;
    color: #ffffff;
}

p {
    text-align: left;
    padding: 20px;
    color: white;
    font-weight: 300;
    font-family: "Roboto mono";
}
